@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}
::selection {
  background-color: #09122c;
  color: white;
}
::-moz-selection {
  background-color: rgba(255, 0, 0, 0);
  color: white;
}

::-webkit-scrollbar-button {
  height: 20px;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff08;
}
::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 20px;
  border-color: none;
  transition: all 10s ease;
}
:root {
  /* --mainColor: #E97F4A; */
  /* --mainColor: #f89122; */
  --mainColor: #a97657;
  /* --mainColor: #1b1e4d; */
  /* --mainColor: #1B4D3E; */
  --textColor: white;
  --mainRaduis: 25px;
  --mainShadowColor:
    0px 0px 0px 0.5px rgb(255, 255, 255, 0.4), 0px 4px 4px 0px rgb(0, 0, 0, 0.1);
  --backdropFilter: blur(25px);
}
html {
  scroll-behavior: smooth;
  color: var(--textColor, white);
  background: linear-gradient(20deg, rgb(255, 255, 255), #a97657a5 70%);
  /* background-repeat: no-repeat; */
}

/**=========================== navbar========= */
a {
  color: var(--textColor, white);
}
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  /* height: 50px; */
  padding: 20px 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--mainColor);
  color: var(--textColor, white);
  z-index: 1000;
  height: 60px;
}
header .logo {
  display: flex;
  align-items: center;
  font-weight: 600;
}
header .logoSec {
  backdrop-filter: blur(var(--backdropFilter));
  /* background-color: rgba(255, 255, 255, 0.15); */
  border-radius: var(--mainRaduis);
  margin-right: 20px;
}

.logo img {
  border-radius: 999px;
  width: 30px;
  margin-right: 10px;
}

nav ul {
  backdrop-filter: blur(var(--backdropFilter));
  display: flex;

  border-radius: var(--mainRaduis);
}
ul a {
  margin: 0px 10px;
  padding: 5px 10px;
  color: var(--textColor);
  font-weight: 500;
  border-radius: 5px;
  /* transition: color 0.3s ease; */
}
ul a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  /* border-bottom: #0C4652 solid 3px; */
  /* color:#0C4652; */
}

.logSign {
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: var(--mainRaduis);
  background-color: var(--textColor);
  transition: all 0.5s ease-out;
}
.logSign a {
  /* margin:0px  10px; */
  padding: 2px 10px;
  color: var(--mainColor);
  font-weight: 500;
}
.logSign .logIn {
  margin-left: 0px;
  padding: 5px 20px;
  background-color: var(--mainColor);
  color: var(--textColor);
  border-radius: var(--mainRaduis);
}
.searchDiv {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
  border-radius: var(--mainRaduis);
}
.row {
  background-color: var(--textColor);
  box-shadow:
    0px 0px 0px 2px rgba(255, 255, 255, 0.4),
    0px 0px 0px 5px rgba(255, 255, 255, 0.3);
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  transition: all 0.4s ease;
  border-radius: var(--mainRaduis);
  height: fit-content;
}
.row input {
  /* margin-left: 5px; */
  border: none;
  outline: none;
  background: transparent;
  color: var(--mainColor);
  width: 90%;
  font-size: 14px;
  transition: all 0.4s ease;
  caret-color: var(--mainColor);
}
.row button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.row .fa-magnifying-glass {
  width: 22px;
  /* background-color: aqua; */
  color: var(--mainColor);
  /* font-size: 18px; */
}
.row input::placeholder {
  color: #a97657;
  font-size: 13px;
}
.row input:focus::placeholder {
  color: transparent;
}
.row:focus-within {
  width: 100%;
}

.resualts {
  backdrop-filter: blur(20px);
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  /* overflow: hidden;  */
  /* display: none; */
  z-index: 1001;
  max-height: 400px;
  overflow-y: auto;
}

.resualts ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.resualts ul li a {
  width: 100%;
  text-decoration: none;
  transition: all 0.2s;
  color: var(--textColor);
  padding: 7px 20px;
  display: block;
  margin: 0;
  transition: all 0.3s ease;
  border-bottom: rgba(255, 255, 255, 0.364) 1px solid;
}

.resualts ul li a:hover {
  background-color: rgba(0, 0, 0, 0.178);
}
.searchDiv:focus-within .resualts {
  display: block;
}

.highlight {
  color: #f89122;
  font-weight: 700;
  background: rgba(248, 145, 34, 0.1);
  border-radius: 2px;
}

/* *=================log and sign ============================ */
.loginSignContainer {
  color: var(--mainColor);
  margin: 80px 0;
  top: 0;
  right: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: center;
  /* background:red; */
  /* color:; */
  z-index: 1000;
  transition: all 0.5s ease;
}
.loginSignSec {
  display: flex;
  align-content: space-between;
  width: 100%;
  background-color: #ffffff;
  /* border: var(--mainColor) 2px solid; */
  overflow: hidden;
  border-radius: calc(var(--mainRaduis) + 0px);
}
.loginImg {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: end;
  /* background: url(./imgs/test4.svg); */
  background-color: #a97657;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='105' height='105' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23926244' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 80px;
  background-position: center;
}
.kalamPicture {
  backdrop-filter: blur(5px);
  width: 80%;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  border-radius: 10px;
}
.loginSignContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  height: 100%;
  padding: 10px;
  /* background-color: #5afb3a; */
}
.signSec {
  display: none;
  flex-direction: column;
  /* box-shadow: #09122C 0px 0px 0px 1px ; */
  width: 90%;
  margin: auto;
  /* background-color: red; */
  height: 100%;
  padding: 0px;
}
.loginSec {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* box-shadow: #09122C 0px 0px 0px 1px ; */
  width: 90%;
  margin: auto;
  /* background-color: red; */
  height: 100%;
  /* padding: 20px; */
}
.loginH2 {
  margin-top: 10px;
  width: fit-content;
  color: var(--mainColor);
  /* margin: auto; */
}
.loginP {
  /* margin: 5px 0px 30px; */
  color: var(--mainColor);
}
.loginSignChoise {
  position: relative;
  display: flex;
  padding: 2px;
  background: rgba(105, 105, 105, 0.1);
  color: var(--textColor);
  width: fit-content;
  margin: 5px auto;
  border-radius: var(--mainRaduis);
  z-index: 10;
}
.loginChoise {
  position: relative;
  border-radius: var(--mainRaduis);
  /* background-color: var(--textColor); */
  color: var(--mainColor);
  padding: 5px 30px;
  z-index: 10;
}
.signChoise {
  position: relative;
  border-radius: var(--mainRaduis);
  padding: 5px 30px;
  z-index: 9;
}
.loga {
  color: var(--textColor);
  font-weight: 500;
  z-index: 1;
}
.signa {
  color: var(--mainColor);
  font-weight: 500;
  z-index: 1;
}
.backgroundSL {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: var(--mainColor);
  width: 50%;
  height: 100%;
  border-radius: var(--mainRaduis);
  z-index: -1;
  transition: all 0.5s ease;
}

.loginSignContainer form label {
  color: var(--mainColor);
  display: block;
  margin-top: 10px;
}
/* .signChoise:hover .signa{
  color: var(--textColor);
  z-index: 1000;
}
.signChoise:hover .backgroundSL{
  right: 0;
} */

.loginSignContainer form input {
  display: block;
  margin: 5px 0px;
  border-radius: 10px;
  border: 1px solid rgba(105, 105, 105, 0.6);
  padding: 10px 10px;
  outline: none;
  background: transparent;
  color: var(--mainColor);
  width: 100%;
  font-size: 14px;
  transition: all 0.3s ease;
  caret-color: var(--mainColor);
}
.loginSignContainer form input::placeholder {
  color: rgba(105, 105, 105, 0.6);
  font-size: 14px;
}
.loginSignContainer input:focus {
  border: 1px solid var(--mainColor);
  box-shadow: 0px 0px 0px 3px rgba(248, 145, 34, 0.15);
  /* background-color: rgba(94, 255, 73, 0.071); */
}
.inputControl {
  margin: 20px 0px;
}

.pForget {
  text-align: end;
  padding: 5px 10px 10px;
  color: var(--mainColor);
  width: 100%;
  /* background-color: red; */
}
.pForget a {
  color: var(--mainColor);
}
.submitInput {
  margin: 10px 0px;
  padding: 10px 0px;
  width: 100%;
  border: 0;
  background: linear-gradient(20deg, var(--mainColor), #bc8f73);
  color: var(--textColor);
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
}

.input-error {
  border-color: #ff4d4d !important;
  box-shadow: 0px 0px 0px 3px rgba(255, 77, 77, 0.2) !important;
}

.input-success {
  border-color: #2ecc71 !important;
  box-shadow: 0px 0px 0px 3px rgba(46, 204, 113, 0.2) !important;
}

.loginSignContainer form input {
  transition: all 0.3s ease-in-out;
}
.form-error-msg {
  color: #ff4d4d;
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  display: none;
  font-weight: 500;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.shake-error {
  animation: shake 0.3s ease-in-out;
}
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  padding-right: 40px !important;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--mainColor);
  opacity: 0.7;
  transition: 0.3s;
  z-index: 10;
}

.toggle-password:hover {
  opacity: 1;
}

/* //////////////////////// Responsive ////////////////////////////// */
.logAndMenuBar {
  display: flex;
  align-items: center;
}
.menuBar {
  margin: 0px 0px 0px 20px;
  flex-direction: column;
  justify-content: space-evenly;
  height: 35px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  display: none;
  border-radius: 5px;
}

.line {
  background: var(--textColor);
  width: 30px;
  height: 3px;
  border-radius: 20px;
  transition: all 0.4s ease;
}
.line1active {
  transform: rotate(45deg);
  margin-top: 7px;
}
.line2active {
  transform: rotate(-45deg);
  margin-bottom: 7px;
}
@media (max-width: 1000px) {
  .searchDiv {
    display: none;
  }
  .menuBar {
    display: flex;
  }
  nav {
    display: none;
    backdrop-filter: blur(10px);
    position: absolute;
    height: 100vh;
    top: 100%;
    right: 0%;
    background-color: rgba(255, 254, 254, 0.4);
    width: 100%; /*this for onclick*/
    transition: all 0.5 ease;
    align-items: start;
    border-top: #ffffff solid 2px;
  }
  .activeNav {
    display: flex;
    transition: all 0.5s ease;
  }
  nav ul {
    background-color: var(--mainColor);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.263);
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0px;
  }
  nav ul li {
    margin: 10px 0;
    padding: 0px 25px;
  }
  .loginSignContainer {
    padding: 20px 5%;
  }
}
@media (max-width: 800px) {
  .loginImg {
    display: none;
  }
  .loginSignContent {
    width: 100%;
  }
  .locationBox {
    display: none;
  }
}
.smallScreen {
  display: none;
}
@media (max-width: 600px) {
  .box2ofFooter {
    display: none;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  .largeScreen {
    display: none;
  }
  .smallScreen {
    display: block;
  }
  /* footer .logo{
    margin: auto;
  } */
}

/** ////////////////// footer ////////////////////////// */
footer {
  width: 100%;
  /* height: 400px; */
  background-color: #a97657;
  display: flex;
  justify-content: space-between;
  padding: 20px 2%;
  gap: 20px;
}
footer > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* width: 25%; */
  gap: 10px;
  /* height: 500px; */
  /* background-color: rgb(228, 11, 11); */
}
.logoAndTitleFooter {
  display: flex;
  align-items: center;
}
footer a {
  padding: 2px 5px;
  margin: 0px;
  font-weight: 400;
}
.box2ofFooter li {
  margin: 10px 10px 10px 0px;
}
footer h3 {
  font-weight: 500;
  padding: 0px 0px 5px;
  border-bottom: var(--textColor) solid 2px;
}
footer h3 span {
  font-weight: 800;
}
